*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px 0;
}
.titulo{
    margin: 24px 0;
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.lista-cabeçalho{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    color: #ffffff;
}
.ordem-imagem{
    width: 40%;
}
.Ordem{
    background-color:#727272;
    color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.ordem-div-conteudo{
      width: 35%;
}